<section class="event">
  <% @events.each do |event| %>
    <div class="image">
      <%= image_tag(event.image_file_name) %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to event.name, event %>
      </h2>
      <h3><%= day_and_time(event) %></h3>
      in <%= event.location %>
      <span class="price">
        <%= price(event) %>
      </span>
      <p>
        <%= truncate(event.description, length: 35, separator: ' ' ) %>
      </p>
    </div>
  <% end %>
</section>
<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Event", new_event_path, class: "button" %>
  </section>
<% end %>
